<header>
  <nav>
    <ul>
      <li><a href="/posts">Home</a></li>
      {{#if user}}
        <li><a href="/posts/new">New Post</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <li><span>Welcome, {{user.username}}</span></li>
      {{else}}
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/register">Register</a></li>
      {{/if}}
    </ul>
  </nav>
</header>
